<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>URL</th>
    <th>Name</th>
    <th>Date Saved</th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.URL %></td>
    <td><%= bookmark.Name %></td>
    <td><%= bookmark.date_saved %></td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
